* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.05rem;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 395px;
  text-align: center;
  max-width: 90%;
  max-height: 90%;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;  
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #cccccca8;
  color: #0a5f83;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #cccccca8 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.output {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.output input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1.1rem;
  border: 2px solid #ccc;
  border-radius: 5px 0 0 5px;
}

#password:focus {
  transition: ease 0.2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
  outline: #00f2fe;
  border: 2px solid #00c6ff;
}

.output button {
  padding: 0.775rem;
  border: none;
  background: #4facfe;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.controls {
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.controls label {
  display: block;
  margin: 0.5rem 0;
  /* text-align: left; */
}

.controls #length {
  width: 100%;
}

.controls .length-label {
  text-align: center;
}

#password-message {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 5px 0;
  font-size: 0.9rem;
  width: 100%;
}

#strength-text {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

#strength-bar {
  width: 100%;
  height: 8px;
  background-color: #eee;
  border-radius: 4px;
  overflow: hidden;
}

#bar-fill {
  height: 100%;
  width: 0; /* Começa com 0, o JS controlará isso */
  background-color: #ccc; /* Cor inicial */
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.btn {
  background: #00c6ff;
  border: none;
  color: white;
  padding: 0.8rem;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #009ee3;
  transition: ease 0.2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

.border-btn {
  padding: 2.5px;
  border-radius: 8px;
  border: 2px solid #00c6ff;
  transition: 0.3s;
}

.border-btn:hover {
  transition: ease 0.2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
  border: 2px solid #009ee3;

}
